.loc-name{
    background: #017e84;
    color: white;
    border-radius: 50px 0 0 50px;
    padding: 2px 8px;
    border: 1px solid;
    font-weight: 500;
}


.loc-percent{
    background: #b53e70;
    color: white;
    border-radius: 0 50px 50px 0;
    padding: 2px 8px;
    border: 1px solid;
    font-weight: 600;
    left: -6px;
    position: relative;
}